@model Domain.Departements
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";

}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    @Html.ValidationMessage("CustomError", "", new { @class = "text-danger" })
        </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepName)
                </th>
                <th>
                    Number of Employees in this Departement
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.DepName)
                </td>
                <td>
                    @ViewBag.Count
                </td>
                <td align="center" style="text-align: center; vertical-align: middle;">
                    <p>
                        <a asp-action="Edit" asp-route-id="@Model.DepId">Edit</a> <br />
                        <a asp-action="Details" asp-route-id="@Model.DepId">Details</a> <br />
                        <a asp-action="Delete" asp-route-id="@Model.DepId">Delete</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
